.card p{
    text-decoration: none;
    color: black;
}

.card{
    box-shadow: 0 7px 12px rgba(150, 150, 150, 0.5);
}

.cardIMG{
    box-shadow: 0 5px 7px rgba(202, 202, 202, 0.5);
    height: 225px;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
  }
  
.btn-outline-secondary:hover {
    background-color: #6c757d;
    color: white;
    border-color: #6c757d;
 }